extends base.pug
include mixins/video

block content
    h2 This is home where YOU can watch various fun videos.

    each info in videos 
        +video(info)
    else
        li Sorry, nothing found.